/* switzer.css - Full local setup */

/* Light */
@font-face {
  font-family: 'Switzer';
  src: url('Switzer-Light.woff2') format('woff2'),
       url('Switzer-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

/* Regular */
@font-face {
  font-family: 'Switzer';
  src: url('Switzer-Regular.woff2') format('woff2'),
       url('Switzer-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* Medium */
@font-face {
  font-family: 'Switzer';
  src: url('Switzer-Medium.woff2') format('woff2'),
       url('Switzer-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

/* SemiBold */
@font-face {
  font-family: 'Switzer';
  src: url('Switzer-SemiBold.woff2') format('woff2'),
       url('Switzer-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'Switzer';
  src: url('Switzer-Bold.woff2') format('woff2'),
       url('Switzer-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* ExtraBold */
@font-face {
  font-family: 'Switzer';
  src: url('Switzer-ExtraBold.woff2') format('woff2'),
       url('Switzer-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

/* Black */
@font-face {
  font-family: 'Switzer';
  src: url('Switzer-Black.woff2') format('woff2'),
       url('Switzer-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

/* Italics (example for Regular Italic) */
@font-face {
  font-family: 'Switzer';
  src: url('Switzer-Italic.woff2') format('woff2'),
       url('Switzer-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

/* Add other italic weights if you have them */
