:root {
    --primary-bg: #0E1D20;
    --primary-color: #B8FF25;

    --primary-accent: #22FF01;
    --secondary-accent: #cdcdcd33;
    --white: #FFF;
}

.container {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.dropdown-toggle::after {
    font-size: 22px;
}

.modal-custom {
    border-radius: 15px;
    overflow: clip;
}

.modal-custom::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 30px;
    transform: translateX(-50%);
    left: 50%;
    top: -19px;
    background: #eceb6b;
    filter: blur(30px);
}

.rounded-10 {
    border-radius: 10px !important;
}

.rounded-15 {
    border-radius: 15px !important;
}

.select2-container {
    z-index: 9999 !important;
}

.offcanvas-custom {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0px -4px 15px rgba(0, 0, 0, 0.1);
    height: 85vh;
}

.offcanvas-header {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.abs-img {
    position: absolute;
}

.abs-img:nth-child(1) {
    top: 69px;
    left: 63px;
    z-index: 1;
}

.abs-img:nth-child(2) {
    top: 150px;
    left: 155px;
    transform: scale(2.7);
}

.abs-img:nth-child(3) {
    top: 58px;
    left: 318px;
    transform: scale(1.5);
    z-index: 1;
}

.abs-img:nth-child(4) {
    top: 196px;
    left: 10px;
    transform: scale(1.5);
}


.btn-custom {
    position: relative;
    color: #0A0F0B;
    background: #B8FF25;
    font-weight: 600;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 0 30px;
    height: 48px;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn-custom.add-play:after {
    font: normal normal normal 14px / 1 FontAwesome;
    content: "\f04b";
    margin-left: 10px;
    font-size: 16px;
    color: #0A0F0B;
}

.btn-custom:hover {
    background-color: unset;
    border: 2px solid #07182c;
    color: #07182c;
}

.btn-invert {
    background: var(--primary-color);
    color: var(--primary-bg) !important;
    border-radius: 6px;
}

.btn-invert::before {
    width: 40%;
    height: 28px;
    top: -50%;
    background: #853939 !important;
    filter: blur(16px) !important;
}

.btn-custom:disabled {
    background: #3a3a3a;
    color: #777777;
    cursor: not-allowed;
    border: unset;
}

.btn-invert:disabled {
    background: #3a3a3a;
    color: #777777;
    cursor: not-allowed;
    border: unset;
}

.greetings {
    display: flex;
    gap: 10px;
    align-items: stretch;
    border-radius: 10px;
    /* padding: 10px; */
    color: #130019;
}

.greetings img {
    width: 40px;
    height: auto;
    border-radius: 10px;
    background-color: var(--primary-color);
    display: block;
    object-fit: cover;
}

.greetings .info {
    margin-left: auto;
    border-radius: 15px;
    border: 1px dashed #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

.overview {
    position: relative;
    padding: 0 10px;
}

.overview .balance-view {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    color: #eef2f1;
}

.balance-view .amount {
    font-size: 2rem;

}

.glow {
    position: absolute;
    width: 20%;
    height: 40px;
    top: -70%;
    background: rgba(215, 236, 107, 0.72);
    filter: blur(20px);
    animation: glowMove 5s linear infinite;
}

@keyframes glowMove {
    0% {
        left: -20%;
    }

    50% {
        left: 100%;
    }

    100% {
        left: -20%;
    }
}

.scroll-stat {
    position: relative;
    /* padding: 10px; */
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow-x: scroll;
    min-height: 100px;
    overflow: visible;
}

.scroll-stat::-webkit-scrollbar {
    display: none;
}

.overview .title,
._text {
    color: var(--primary-color);
}

.overview .balance {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.overview .balance:not(.active) {
    display: none;
}

.overview .balance .amount {
    color: #f3f3f3;
    text-shadow: 4px 4px 42px rgba(252, 160, 36, 0.69);
    font-size: 34px;
    font-weight: 600;
}

.overview .balance .type {
    color: #bababa;
    font-size: 12px;
    font-weight: 600;
}

.quick-links {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.link-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 15px;
    background-color: rgba(83, 107, 113, 0.1);
    border-radius: 10px;
}

.link-wrapper .link-icon {
    color: #D7EC6B;
    font-size: 26px;
}

.ref-box {
    box-shadow: var(--box-shadow);
    border-radius: 25px;
}

.copy-btn {
    background: #0A0F0B;
    color: #fff;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    position: absolute;
    right: 20px;
    transform: translateY(-50%);
    top: 50%;
}

.icon-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgb(255 255 255 / 13%);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    color: #fff !important;
    font-size: 22px;
    overflow: clip;
    border: unset;
}


.icon-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #fff;
    border: none;
    border-radius: 50%;
    transition: transform 0.5s ease-in-out;
    font-size: 20px;
}

.box {
    overflow: hidden;
    box-shadow: var(--box-shadow);
}

.box-body {
    z-index: 2;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: var(--secondary-color);
}

.profile-pic {
    width: 50px;
}

.earning-list {
    background: none;
    box-shadow: var(--box-shadow);
    border-bottom: 0px !important;
    margin-bottom: 10px;
}

/* ========================Old Css======================== */
.ads {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/fit.jpg);
    background-position: top right;
    background-size: cover;
    border-radius: 15px;
    overflow: hidden;
    gap: 5px;
    margin: 40px 0;
}

.ads .ad-img {
    width: 170px;
}

.ads img {
    width: 100%;
}

.text-box {
    width: 60%;
    text-align: center;
    padding: 5px 5px;
    color: #fff;
    font-family: Poppins;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-box h4 {
    font-weight: 700;
    letter-spacing: 2px;
}

.text-box h1 {
    color: var(--secondary-color);
    font-weight: 700;
}

/* Bottom Navigation */

.bottom-nav {
    z-index: 999;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    border-top: 1px solid hsla(70, 77%, 67%, 0.5);
    background-color: hwb(0 100% 0% / 0.1) !important;
    padding: 5px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.bottom-nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #53535347;
}


.bottom-nav-item i {
    font-size: 20px;
}

.bottom-nav-item .item-name {
    font-size: 12px;
    color: #b5b5c3;
}

.bottom-nav-item.active,
.bottom-nav-item:hover {
    color: var(--primary-color);
}

.bottom-nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    background-color: #f44336;
    border-radius: 50%;
    position: relative;
    box-shadow: 0px 6px 18px 2px rgba(254, 50, 50, 0.42);
}

.custom-list {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin: 0;
    width: 100%;
    list-style: none;
}

.custom-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem 0;
    color: var(--white);
}

.custom-list li .left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.custom-list li .right {
    display: flex;
    align-items: end;
    flex-direction: column;
    gap: 5px;
}

.custom-list li i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 20px;
    transition: all 0.3s ease;
}

.custom-list li .danger {
    background: #d91f1f33;
    color: #E71C1C;
}

.custom-list li .success {
    background: hsl(151, 99%, 20%);
    color: #4CFEA9;
}

.custom-list li .time {
    color: rgba(255, 255, 255, 0.5);
}

.balance-tabs {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding: 0 10px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.balance-tabs::-webkit-scrollbar {
    display: none;
}

.balance-tabs .tab {
    padding: 5px 15px;
    border: 1px solid hsl(70, 77%, 30%);
    border-radius: 30px;
    flex: 1 1 auto;
    text-align: center;
    min-width: max-content;
    background: transparent;
    color: hsl(0, 0%, 30%);
    cursor: pointer;
    transition: background 0.3s ease;
}

.balance-tabs .tab.active {
    padding: 5px 15px;
    border: 1px solid #D7EC6B;
    border-radius: 30px;
    background: hsl(70, 77%, 30%, 0.2);
    color: white;
    cursor: pointer;
    transition: background 0.3s ease;
}

.balance-tabs .tab:hover {
    background: hsl(70, 77%, 30%, 0.1);
}

/* Balance Tab */

.gradient-card {
    position: relative;
    border-radius: 15px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: linear-gradient(345deg, #0E1D20 0%, rgba(59, 121, 134, 0.1) 100%);
    background-color: #0E1D20;
    min-width: 0;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.gradient-body {
    gap: 5px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
}

.gradient-body.collapse {
    display: none;
}

.gradient-card::before {
    content: "";
    position: absolute;
    top: -6px;
    left: -6px;
    right: -6px;
    bottom: -6px;
    background: linear-gradient(75deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1));
    z-index: -1;
    border-radius: calc(15px + 6px);
    filter: blur(6px);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.08);
}

.gradient-card .gradient-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #395500;
    padding-bottom: 5px;
}

.gradient-card .gradient {
    position: absolute;
    border-radius: 50%;
    background: #4CFEA9;
}

.gradient-card .gradient:nth-child(1) {
    width: 28px;
    height: 28px;
    left: 30%;
    top: 70%;
    filter: blur(24px);
}

.gradient-card .gradient:nth-child(2) {
    width: 63px;
    height: 63px;
    left: 45%;
    top: 50%;
    filter: blur(45px);
}

.gradient-card .gradient:nth-child(3) {
    width: 56px;
    height: 56px;
    left: 60%;
    top: 10%;
    background: #2BB15B;
    filter: blur(40px);
}


/* Wihthdrawal Ui */

.chip-group {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.chip {
    display: flex;
    align-items: center;
    background: #ffffff;
    padding: 10px 16px;
    border-radius: 30px;
    color: #333;
    font-weight: 500;
    border: 1px solid #eee;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    transition: 0.3s ease;
}

.chip:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.chip.active {
    border-color: var(--primary-color);
    background-color: #e2ffa6;
    color: #0E1D20;
    box-shadow: 0 4px 12px #defba2;
}

.chip-icon {
    width: 22px;
    height: 22px;
    margin-right: 8px;
}

.radio-card {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 20px;
    position: relative;
    border-radius: 50px;
    background: #ffffff;
    transition: all 0.3s ease;
}

.radio-card.active {
    border: 1px solid rgba(184, 255, 37, 0.5);
    box-shadow: 0 4px 12px #defba2;
}

.radio-card.inactive {
    filter: opacity(0.4);
}

.custom-radio {
    position: relative;
    width: 20px;
    height: 20px;
    border: 2px solid #1a2e2d;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.radio-container input {
    display: none;
}

.custom-radio::after {
    content: url(../images/icons/fire.png);
    background: #f8f8f8;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.3s ease;
}

input:checked+.custom-radio::after {
    transform: scale(1);
}

.custom-input-wrapper {
    position: relative;
    background: rgba(83, 107, 113, 0.1);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    padding: 15px 20px 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 255, 0, 0.3);
    width: 100%;
    color: white;
    font-family: inherit;
}

.custom-amount-input {
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    font-size: 24px;
    color: white;
    font-weight: 600;
    padding-right: 30px;
}

.custom-amount-input::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
}

.min-note {
    font-size: 13px;
    color: #888;
    margin-top: 5px;
}

.reciept-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    width: 100%;
}

.reciept-list li {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reciept-list li .item {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.5);
}