/* switzer.css - link to your local font files */

@font-face {
  font-family: 'Switzer';
  src: url('fonts/Switzer-Light.woff2') format('woff2'),
       url('fonts/Switzer-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Switzer';
  src: url('fonts/Switzer-Regular.woff2') format('woff2'),
       url('fonts/Switzer-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Switzer';
  src: url('fonts/Switzer-Medium.woff2') format('woff2'),
       url('fonts/Switzer-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Switzer';
  src: url('fonts/Switzer-SemiBold.woff2') format('woff2'),
       url('fonts/Switzer-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Switzer';
  src: url('fonts/Switzer-Bold.woff2') format('woff2'),
       url('fonts/Switzer-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Switzer';
  src: url('fonts/Switzer-ExtraBold.woff2') format('woff2'),
       url('fonts/Switzer-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Switzer';
  src: url('fonts/Switzer-Black.woff2') format('woff2'),
       url('fonts/Switzer-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
